.container {
  padding: 20px;
  .container-item {
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    .title {
      font-size: 40px;
      font-weight: 700;
    }
    .title:hover {
      text-decoration: underline;
      color: blue;
    }
    .time {
      font-size: 30px;
      color: #828585;
    }
    .image {
      width: 100%;
      height: auto;
    }
  }
}
